@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homerun League</h1>
    <p class="lead">Active Baseball league in the Fort Benning Area.</p>
</div>
<div class="row">
    <div class=" col-lg-8">
        <img src="~/Content/HomeField.jpg" alt="A baseball Stadium" /> 
    </div>
    
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Our Teams</h2>
        <p>
            Homerun League has many teams that play in a tornament style bracket. With multiple games weekly, Homerun league is the supreme league
            for serious players and fans.
        </p>
        <div>
            @Html.ActionLink("List of Teams", "Index", "Teams")
        </div>
    </div>
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>This calendar shows the games that are currently scheduled. It includes all teams and fields. If you want the schedule for
           a specific team, please use the Team's calendar.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apply Now!</h2>
        <p>Interested in playing for one of our teams? If so click below to get added to the roster.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Apply Now! &raquo;</a></p>
    </div>
</div>